html body {
  height: 100%;
}

.hidden {
  display: none;
}

.statistics {
  height: 100%;
  font: 14px "Microsoft YaHei" !important;
}

.statistics__nav {
  padding: 15px 0 30px 22px;
  color: #4b89dc;
}

.statistics__nav>span {
  line-height: 24px;
}

.statistics__nav:before {
  content: '';
  height: 16px;
  line-height: 16px;
  width: 6px;
  background-color: #4b89dc;
  display: inline-block;
}

.statistics__nav--content {
  display: block;
  margin-top: -22px;
  margin-left: 16px;
}

.statistics__nav--content>span:first-of-type {
  color: #708195;
}

.main {
  height: calc(100% - 62px);
  display: flex;
}

.structtree {
  width: 300px;
  height: 100%;
  background-color: #fff;
  min-height: 300px;
  flex: 0 0 300px;
}

.search {
  margin: 20px 20px 20px 22px;
  border: 1px solid #4b89dc;
  display: flex;
  border-radius: 4px;
}

.search__input {
  outline: transparent;
  border: transparent;
  line-height: 38px;
  height: 38px;
  flex: 1;
  margin-left: 8px;
}

.search__btn {
  flex: 0 0 68px;
  background-color: #4b89dc !important;
  border-radius: 0 4px 4px 0 !important;
}

.tree-container {
  padding-left: 20px;
  padding-bottom: 20px;
  height: calc(100% - 100px);
  overflow: auto;
}





.main-content {
  flex: 1;
  height: 100%;
  width: calc(100% - 340px);
  border-top: 20px solid #fff;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.content-right {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 40px);
}

.content-footer {
  height: 20px;
  background-color: #fff;
}

.content {
  background-color: #fff;
  min-height: 20px;
  position: relative;
  padding-bottom: 5px;
}

.content__header {
  padding: 40px 30px 30px 30px;
  position: relative;
}

.content__header--title {
  color: #28323d;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
}

.content__header--info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #4b89dc;
}

.content__header--info>span {
  cursor: pointer;
}

.content__header--btngrp {
  position: absolute;
  right: 30px;
  bottom: 2px;
}

.meter-info-container {
  margin: 20px 30px;
}

.info-table {
  width: 100%;
}

.info-table td {
  padding-bottom: 10px;
  width: 33%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-table td:first-of-type {
  width: 45%;
}

.expand-info:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform-origin: center center;
  transition: transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
}

.alarm-container {
  display: inline-block;
  width: 116px;
  height: 34px;
  border: 1px solid #4b89dc;
  line-height: 34px;
  text-align: center;
  border-radius: 34px;
  margin-right: 20px;
  color: #4b89dc;
  cursor: pointer;
}

.module-container {
  display: inline-block;
  width: 116px;
  height: 34px;
  border: 1px solid #4b89dc;
  line-height: 34px;
  text-align: center;
  border-radius: 34px;
  margin-right: 20px;
  color: #4b89dc;
  cursor: pointer;
}

.title-margin {
  margin-right: 5px;
}

.subscribe {
  display: inline-block;
  width: 116px;
  height: 34px;
  border: 1px solid #4b89dc;
  line-height: 34px;
  text-align: center;
  border-radius: 34px;
  color: #4b89dc;
  cursor: pointer;
}

.condition {
  margin: 30px;
  border: 1px solid #dce3e6;
}

.parameter-container {
  display: flex;
  font-size: 12px;
}

.parameter {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #dce3e6;
  display: flex;
}

.parameter-left,
.comparsion-left {
  flex: 0 0 72px;
  margin-right: 54px;
}

.parameter-right,
.comparsion-right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.para-item {
  position: relative;
}

.choose-para,
.choose-meter {
  height: 22px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #4b89dc;
  margin-right: 5px;
  padding: 0 10px;
  color: #4b89dc;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 5px;
}

.para-active {
  color: #fff;
  background-color: #4b89dc;
}

.param-title,
.meter-title {
  color: #3e4b5b;
  margin-bottom: 10px;
  font-size: 14px;
}

.param-choose,
.meter-choose {
  border: 1px solid #4b89dc;
  height: 22px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
  line-height: 20px;
  color: #4b89dc;
  cursor: pointer;
}

.comparsion {
  flex: 1;
  padding: 20px;
  display: flex;
}

.meter-item {
  background-color: #4b89dc;
  color: #fff;
  position: relative;
  padding-right: 25px;
}

.remove-btn {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 0px;
}

.search-container {
  border-top: 1px solid #dce3e6;
  padding: 20px;
  position: relative;
  height: 36px;
}

.btn {
  height: 34px;
  width: 60px;
  line-height: 32px;
  background-color: #fff;
  border: 1px solid #708195;
  color: #708195;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.btn-grp {
  position: absolute;
}

.area-btn-grp {
  position: absolute;
}

.area-btn-grp>.btn:first-of-type,
.btn-grp>.btn:first-of-type {
  border-radius: 4px 0 0 4px;
}

.area-btn-grp>.btn:nth-of-type(2),
.btn-grp>.btn:nth-of-type(2) {
  border-left: transparent;
  border-right: transparent;
  margin-left: -4px;
  margin-right: -4px;
}

.area-btn-grp>.btn:last-of-type,
.btn-grp>.btn:last-of-type {
  border-radius: 0 4px 4px 0;
  margin-left: -4px;
  margin-right: -4px;
  border-left: transparent;
}

.date-active {
  background-color: #4b89dc;
  color: #fff;
  border: 1px solid #4b89dc;
}

.area-operate-grp,
.operate-grp {
  position: absolute;
  right: 20px;
  top: 25px;
  display: inline-flex;
}

.area-operate-grp>i,
.operate-grp>i {
  font-size: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.area-operate-grp>i:before,
.operate-grp>i:before {
  color: #708195;
}

.area-operate-grp>i:last-of-type,
.operate-grp>i:last-of-type {
  margin-right: 0px;
}

.area-operate-grp>i:nth-of-type(2),
.area-operate-grp>i:nth-of-type(3),
.area-operate-grp>i:nth-of-type(4),
.operate-grp>i:nth-of-type(2),
.operate-grp>i:nth-of-type(3),
.operate-grp>i:nth-of-type(4) {
  font-size: 18px;
  font-weight: bold;
  margin-top: 3px;
}

.area-operate-grp>i:nth-of-type(2),
.operate-grp>i:nth-of-type(2) {
  margin-top: 4px;
}

.area-operate-grp>i:nth-of-type(4),
.operate-grp>i:nth-of-type(4) {
  font-size: 21px;
  margin-top: 2px;
}

.area-operate-grp>i:nth-of-type(6),
.operate-grp>i:nth-of-type(6) {
  font-size: 21px;
  margin-top: 3px;
}

.btn-active:before {
  color: #4b89dc !important;
}

.area-date-grp,
.date-grp {
  position: absolute;
  left: 354px;
  top: 20px;
}

.date-component {
  border: 1px solid #708195;
  width: 240px;
  height: 34px;
  line-height: 32px;
  border-radius: 4px;
  cursor: pointer;
}

.date-component:before {
  position: absolute;
  font-size: 18px;
  right: 10px;
  top: 0;
}

.date-input {
  width: 220px;
  border: transparent;
  outline: transparent;
  text-align: center;
}

.parameter-overlay {
  position: absolute;
  width: 120px;
  min-height: 120px;
  box-shadow: 5px 5px 20px 0px #aaa;
  z-index: 10086;
  background-color: #fff;
  top: 45px;
  right: 25px;
  font-size: 14px;
  font-weight: normal;
}

.triangle-overlay {
  position: absolute;
  top: -10px;
  left: 30px;
  width: 0;
  height: 0;
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.triangle-overlay-border {
  position: absolute;
  top: -11px;
  left: 29px;
  width: 0;
  height: 0;
  border-bottom: 11px solid #dce3e6;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
}

.triangle-transform {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  display: inline-block;
  transition: .3s;
}

.chart-container {
  min-height: 370px;
  width: 100%;
  padding: 20px 30px;
}

.chart {
  height: 345px;
  width: 100%;
}




.summary-container {
  margin: 0 30px 30px;
  background-color: #f4f7fc;
  border: 1px solid #e0e5ec;
}

.summary-header {
  display: flex;
  position: relative;
}

.dosage-value {
  flex: 1;
  margin: 20px 0 66px 30px;
  display: flex;
}

.dosage-value>span:first-of-type {
  color: #28323d;
  margin-top: 10px;
}

.dosage-value>.icon-negative,
.average-value>.icon-negative {
  color: #fa4f33;
  font-size: 24px;
  margin-left: 30px;
  font-weight: bold;
}

.icon-negative:after {
  content: "\e608";
  margin-left: 5px;
  transform: rotate(180deg);
  display: inline-block;
  font-size: 28px;
}

.average-value {
  flex: 1;
  margin: 20px 0 66px 0;
  display: flex;
}

.average-value>span:first-of-type {
  color: #28323d;
  margin-top: 10px;
}

.average-value>.icon-positive,
.dosage-value>.icon-positive {
  color: #1fbe89;
  font-size: 24px;
  margin-left: 30px;
  font-weight: bold;
}

.icon-positive::after {
  content: "\e608";
  margin-left: 5px;
  font-size: 28px;
}

.operate-box {
  position: absolute;
  right: 0;
  border-left: 1px solid #dce3e6;
  border-bottom: 1px solid #dce3e6;
  height: 34px;
  line-height: 32px;
  text-align: center;
  padding: 0 10px;
  color: #4b89dc;
  cursor: pointer;
}

.collapse-height {
  height: 80px;
}

.usage-value-progress {
  height: 14px;
  width: 100%;
  background-color: #4b89dc;
  border-radius: 0 14px 14px 0;
  margin: 5px 0 60px 0;
  position: relative;
}

.same-time-value {
  background-color: #f6bb43;
}

.average-comparsion-value {
  background-color: #38bc9b;
}

.progress-title {
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  min-width: 120px;
  left: 0;
}

.func-tab {
  min-height: 400px;
  background-color: #fff;
  margin-top: 20px;
  padding: 34px 30px 20px 30px;
}

.layui-tab {
  margin-bottom: 0px !important;
}

.layui-tab-title li {
  font-size: 18px !important;
  font-weight: bold;
}

.layui-tab-brief>.layui-tab-title .layui-this {
  color: #4b89dc !important;
  font-size: 18px;
  font-weight: bold;
}

.layui-tab-brief>.layui-tab-more li.layui-this:after,
.layui-tab-brief>.layui-tab-title .layui-this:after {
  border: none;
  border-radius: 0;
  border-bottom: 4px solid #4b89dc !important;
}

.layui-tab-content {
  padding: 30px 0 0 0 !important;
}

.graph-data {
  padding: 0;
}

.exception-manager {
  cursor: pointer;
  color: #4b89dc;
  float: right;
  margin-bottom: 10px;
}

.graph-data-container {
  clear: both;
  border: 1px solid #dce3e6;
  min-height: 300px;
  display: flex;
  padding: 30px 30px 0 30px;
}

.choose-param-list {
  flex: 1;
  margin-right: 78px;
}

.list-header {
  text-align: center;
  font-size: 14px;
  color: #28323d;
  font-weight: bold;
  margin-bottom: 20px;
}

.graph-data-list,
.original-data-list {
  flex: 2;
  margin-top: -18px;
}

.choose-param-item {
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #28323d;
  border-top: 1px solid #dce3e6;
  border-left: 1px solid #dce3e6;
  border-right: 1px solid #dce3e6;
  cursor: pointer;
}

.list-body>.choose-param-item:last-of-type {
  border-bottom: 1px solid #dce3e6;
}

.param-item-active {
  color: #4b89dc;
  background-color: #f4f7fc;
}

.graph-table,
.original-table {
  width: 100%;
}

.graph-table tr,
.original-table tr {
  border-bottom: 1px solid #dce3e6;
}

.graph-table tr:last-of-type,
.original-table tr:last-of-type {
  border-bottom: transparent !important;
}

.graph-table th {
  font-size: 14px;
  width: 50%;
  height: 58px;
}

.graph-table td,
.original-table td {
  height: 54px;
  font-size: 12px;
  color: #3e4b5b;
}

.original-table th {
  height: 54px;
}

.original-table tr>td:last-of-type {
  color: #4b89dc !important;
  cursor: pointer;
}

.btn-group>.btn:first-of-type {
  border-radius: 4px 0 0 4px;
}

.btn-group>.btn:nth-last-of-type(2) {
  border-left: transparent;
  border-right: transparent;
  margin-left: -4px;
  margin-right: -4px;
}

.btn-group>.btn:last-of-type {
  border-radius: 0 4px 4px 0;
}

.toast-top-center {
  margin-top: 15px !important;
}

.area-no-data {
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-top: 10px;
  border-top: 1px solid #dce3e6;
  margin-left: 30px;
  margin-right: 30px;
  color: #dce3e6;
}

.stress-info {
  color: #fa4f33;
}

.operate-hander {
  cursor: pointer;
}

.operate-hander:hover {
  color: #4b89dc;
}

.dialogModal .dialogModal_footer button {
  height: 34px;
  line-height: 34px;
  min-width: 84px;
  border: 1px solid #dce3e6;
  cursor: pointer;
}

.dialogModal .dialogModal_container .close {
  top: 24px !important;
}

.cancel-btn {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #4b89dc;
  color: #4b89dc;
}

.save-btn {
  background-color: #4b89dc;
  color: #fff;
  border: 1px solid #4b89dc;
  border-radius: 4px;
}

.modal_header {
  line-height: 40px !important;
  font-weight: bold;
}

.configuration-container {
  margin: 0 !important;
  padding: 0;
  border-left: 1px solid #dce3e6;
  border-right: 1px solid #dce3e6;
  border-bottom: 1px solid #dce3e6;
  position: relative;
}

.configure-header {
  display: flex;
}

.configure-header>li {
  flex: 1;
  color: #999;
}

.step-num {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-right: 10px;
  background-color: #dce3e6;
  border-radius: 40px;
  color: #999;
}

.finish {
  background-color: #4b89dc;
  color: #fff;
}

.dialogModal_content .layui-tab-title .layui-this:after {
  height: 50px !important;
}

.dialogModal_content .layui-tab-title {
  height: 50px !important;
}

.module-content {
  padding: 20px 0 !important;
  position: relative;
  height: 380px;
}

.func-list {
  display: flex;
}

.func-list>div {
  flex: 1;
  height: 60px;
  line-height: 60px;
  background-color: #4b89dc;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.func-list>div:first-of-type {
  margin: 0 10px 0 20px;
}

.func-list>div:last-of-type {
  margin: 0 20px 0 10px;
}

.check-box {
  padding-left: 0 !important;
  position: absolute !important;
  right: 65px;
  top: 20px;
}

.usage-header {
  margin: 20px;
  color: #4b89dc;
}

.usage-select {
  margin-top: 10px;
}

.header-left {
  position: absolute;
  top: 0;
  left: -1px;
  height: 50px;
  background-color: #fff;
  width: 2px;
}

.header-right {
  position: absolute;
  top: 0;
  right: -1px;
  height: 50px;
  background-color: #fff;
  width: 2px;
}

.binding-data-content {
  display: flex;
  height: 100%;
}

.meter-tree {
  flex: 1;
  height: 380px;
  overflow: auto;
  margin-left: 10px;
}

.selected-meter-list {
  flex: 1;
  border-left: 1px solid #dce3e6;
  height: 380px;
  overflow-y: auto;
  overflow-x: hidden;
}

.top-placeholder {
  position: absolute;
  width: 1px;
  height: 21px;
  border-left: 1px solid #dce3e6;
  border-right: transparent;
  left: calc(51% - 1px);
  top: -0px;
}

.bottom-placeholder {
  position: absolute;
  width: 1px;
  height: 21px;
  border-left: 1px solid #dce3e6;
  border-right: transparent;
  left: calc(51% - 1px);
  bottom: -0px;
}

.meter-list {
  padding: 0 20px;
  margin: -18px 0;
}

.select-meter-item {
  line-height: 60px;
  height: 60px;
  border-bottom: 1px solid #dce3e6;
  position: relative;
}

.select-meter-item>input[type='button'] {
  background-color: #fff;
  border: 1px solid #4b89dc;
  color: #4b89dc;
  padding: 1px 10px;
  position: absolute;
  right: 0;
  top: 18px;
  cursor: pointer;
}

.select-meter-item>span {
  width: 190px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.beauty-select {
  background: transparent;
  width: 100%;
  padding: 5px;
  border: 1px solid #dce3e6;
  height: 36px;
  -webkit-appearance: none;
}

.dropdown {
  position: absolute;
  right: 25px;
  top: 140px;
  color: #dce3e6;
}

.beauty-select>option {
  height: 32px !important;
  line-height: 32px !important;
  padding: 0px 5px;
  cursor: pointer;
  -webkit-appearance: none;
}

.comparison-body {
  width: 460px;
}

.meter-comparison-content {
  height: 380px;
  overflow: auto;
}

.history-data-list {
  border: 1px solid #dce3e6;
  padding: 0 20px;
}

.history-data-list table {
  width: 100%;
}

.history-data-list table thead tr {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #dce3e6;
}

.history-data-list table tbody tr {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #dce3e6;
}

.history-data-list table tbody tr:last-of-type {
  border-bottom: transparent;
}

.history-data-list table tr>th,
.history-data-list table tr>td {
  text-align: left;
}

.history-content {
  height: 452px;
  overflow: auto;
}

.comparison-tab {
  min-height: 80px;
  background-color: #fff;
  margin-top: 20px;
  padding: 34px 30px 10px 30px;
}

.comparison-data {
  border: 1px solid #dce3e6;
  padding: 10px 20px 0 20px;
}

.comparison-table {
  width: 100%;
}

.comparison-table thead tr {
  border-bottom: 1px solid #dce3e6;
}

.comparison-table thead tr>th {
  text-align: left;
  height: 44px;
  line-height: 44px;
  padding-left: 5px;
}

.comparison-table tbody tr>td {
  height: 44px;
  line-height: 44px;
  padding-left: 5px;
}

.comparison-table tbody tr {
  border-bottom: 1px solid #dce3e6;
}

.comparison-table tbody tr:last-of-type {
  border-bottom: transparent;
}

.comparison-table tbody>tr>td:first-of-type {
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.negative-value {
  color: rgb(53, 189, 156);
}

.positive-value {
  color: rgb(243, 99, 73);
}

.area-detail-container .search-container {
  border-top: transparent;
}

.area-fgp {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px 30px 10px 30px;
}

.area-comparison {
  display: flex;
  padding: 0 30px 30px 30px;
}

.comparison-sort {
  flex: 1;
  min-width: 300px;
}

.comparison-sort>div:first-of-type {
  margin-right: 20px;
  line-height: 34px;
  height: 34px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #dce3e6;
  position: relative;
}

.comparison-proportion {
  flex: 1;
  min-width: 300px;
}

.comparison-proportion>div:first-of-type {
  margin-left: 20px;
  line-height: 34px;
  height: 34px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #dce3e6;
  position: relative;
}

.icon-heguipaiming,
.icon-tongji {
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
}

.op-grp {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  color: #4b89dc;
}

.op-btn-active {
  background-color: #4b89dc;
  color: #fff !important;
}

.op-grp>input {
  height: 22px;
  line-height: 22px;
  font-weight: 200;
  color: #4b89dc;
  border: 1px solid #4b89dc;
}

.op-grp>input:first-of-type {
  margin-right: -5px;
}

.comparison-rmb {
  font-size: 23px;
  margin-right: 10px;
}

.proportion-grp {
  position: absolute;
  right: 0;
  top: 0;
}

.proportion-grp>i {
  cursor: pointer;
}

.proportion-grp>i:first-of-type {
  font-size: 23px;
  position: absolute;
  right: 20px;
  top: 1px;
}

.op-btn {
  background-color: #fff;
  border: 1px solid #4b89dc;
  color: #4b89dc;
  position: absolute;
  right: 70px;
  font-size: 12px;
  font-weight: 400;
  width: 64px;
  text-align: center;
  height: 22px;
  line-height: 20px;
  padding-left: 5px;
  top: 5px;
  cursor: pointer;
}

.op-btn>i {
  margin-left: 5px;
}

.manage-box {
  border-top: 1px solid #dce3e6;
  padding-left: 40px;
}

.manage-box:hover {
  background-color: #4b89dc;
  color: #fff;
  cursor: pointer;
}

.proportion-grp ul {
  list-style-type: none;
}

.proportion-grp ul>li {
  padding-left: 20px;
}

.proportion-grp ul>li>i {
  margin-right: 5px;
}

.proportion-grp ul>li:hover {
  background-color: #4b89dc;
  color: #fff;
  cursor: pointer;
}

.area-sort-list {
  margin-top: 20px;
}

.area-sort-item {
  position: relative;
  height: 70px;
}

.area-sort-no {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-weight: bold;
}

.area-sort-content {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  left: 50px;
  top: 50%;
  margin-top: -4px;
  transform: translateY(-50%);
  width: calc(100% - 130px);
}

.meter-name {
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
}

.meter-value {
  font-size: 12px;
  line-height: 20px;
}

.meter-percent {
  font-size: 12px;
  position: absolute;
  right: -52px;
  bottom: -1px;
}

.area-progress-container {
  width: 100%;
  height: 6px;
  background-color: #ddd;
  border: transparent;
  border-radius: 4px;
  display: inline-block;
}

.area-progress-value {
  height: 6px;
  background-color: red;
  border: transparent;
  border-radius: 4px;
  width: 50%;
}

.area-progress {
  height: 8px;
  line-height: 8px;
}

.proportion-chart-container {
  width: 100%;
  min-height: 360px;
}

.proportion-chart-instance {
  height: 360px;
  width: 100%;
  margin-top: 30px;
}

.fgp-container {
  margin-top: 40px;
}

.fgp-item {
  margin-bottom: 30px;
}

.fgp-item>span {
  font-size: 16px;
  font-weight: bold;
}

.fgp-item>span:before {
  margin-right: 10px;
}

.fgp-item-row {
  display: flex;
  position: relative;
}

.fgp-item-row>div {
  flex: 1;
}

.fgp-item-pie {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.fgp-item-pie>div {
  flex: 1;
}

.area-fgp-data {
  position: relative;
}

.area-fgp-date-grp {
  position: absolute;
  left: 260px;
  top: 0;
}

.fgp-usage-chart-instance {
  height: 360px;
  flex: 2 !important;
  margin-top: 20px;
}

.fgp-cost-chart-instance {
  height: 360px;
  flex: 2 !important;
  margin-top: 20px;
}

.fgp-item .icon-RMB:before {
  font-size: 20px;
}

.usage-title-container,
.cost-title-container {
  position: absolute;
  display: flex;
  width: 400px;
  top: 30px;
  left: 150px;
  text-align: center;
}

.usage-title-container>span,
.cost-title-container>span{
  flex: 1;
}

.usage-title,
.cost-title{
  position: absolute;
  top: 50px;
  left: 25%;
}