<!DOCTYPE html>
<html lang="en" style="height:100%">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="../../favicon.ico" />
  <link rel="stylesheet" href="../../asserts/fonts/iconfont.css">
  <link rel="stylesheet" href="../../asserts/statistics.css?t=20180918125">
  <link rel="stylesheet" href="../../dist/lib/layui-v2.4.3/css/layui.css">
  <link rel="stylesheet" href="../../dist/lib/jquery.popmodal/popModal.min.css">
  <link rel="stylesheet" href="../../dist/lib/magic-check/magic-check.css">
  <link rel="stylesheet" href="../../dist/lib/jstree/dist/themes/default/style.min.css">
  <link href="https://cdn.bootcss.com/toastr.js/latest/toastr.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery.blockUI/2.70.0-2014.11.23/jquery.blockUI.min.js"></script>
  <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>
  <script src="https://cdn.bootcss.com/toastr.js/latest/toastr.min.js"></script>
  <script src="https://cdn.bootcss.com/lodash.js/4.17.10/lodash.min.js"></script>
  <script src="https://cdn.bootcss.com/moment.js/2.22.1/moment.min.js"></script>
  <script src="../../dist/lib/echarts/macarons.js"></script>
  <script src="../../dist/lib/jstree/dist/jstree.min.js"></script>
  <script src="../../dist/lib/arttemplate-3.0/lib/template-web.js"></script>
  <script src="../../dist/lib/jquery.popmodal/popModal.min.js"></script>
  <script src="../../dist/lib/layui-v2.4.3/layui.js"></script>
  <title>Statistics</title>
</head>

<body class="statistics">
  <div class="statistics__nav">
    <div class="statistics__nav--content"><span>统计分析&gt;</span><span class="meterName"></span><span>-仪表数据详情</span></div>
  </div>
  <div class="main">
    <div class="structtree">
      <div class="search">
        <input type="text" class="search__input" placeholder="输入仪表关键词" id="searchbox">
        <input type="button" class="layui-btn layui-btn-normal search__btn" value="查询">
      </div>
      <div class="tree-container">
        <div id="metertree"></div>
      </div>
    </div>
    <div class="main-content">
      <div class="content-right">
        <div class="content">
          <div class="content__header">
            <div class="content__header--title"><span>仪表数据详情</span></div>
            <div class="content__header--info" id="onshowmeterinfo"><span>展开表计详情<i class="icon iconfont icon-xiaotuziCduan_"></i></span></div>
            <div class="content__header--btngrp">
              <div class="module-container">区域模块管理</div>
              <div class="alarm-container"><i class="icon iconfont icon-warning1 title-margin"></i>报警中心</div>
              <div class="subscribe">+关注</div>
            </div>
          </div>
          <div id="area-zone">
            <div class="area-no-data hidden"><span>当前区域未配置模块数据，请点击<a class="stress-info operate-hander">&nbsp;区域模块管理&nbsp;</a>进行配置</span></span></div>
            <div class="area-detail-container">
              <div class="condition">
                <div class="search-container">
                  <div class="area-btn-grp">
                    <div class="btn date-active" data-value="2">日</div>
                    <div class="btn" data-value="3">周</div>
                    <div class="btn" data-value="4">月</div>
                    <div class="btn" data-value="5">年</div>
                  </div>
                  <div class="area-date-grp">
                    <input type="hidden" id="area-datevalue">
                    <div class="date-component icon iconfont icon-rili" id="area-day">
                      <input type="text" id="area-daycontainer" class="date-input">
                    </div>
                    <div class="date-component icon iconfont icon-rili hidden" id="area-month">
                      <input type="text" id="area-monthcontainer" class="date-input">
                    </div>
                    <div class="date-component icon iconfont icon-rili hidden" id="area-year">
                      <input type="text" id="area-yearcontainer" class="date-input">
                    </div>
                  </div>
                  <div class="area-operate-grp">
                    <i class="icon iconfont icon-RMB-area" data-value="rmb"></i>
                    <i class="icon iconfont should-uniq icon-icon- btn-active" data-value="bar"></i>
                    <i class="icon iconfont should-uniq icon-line-chart_icon" data-value="line"></i>
                    <i class="icon iconfont icon-Group-" data-value="download"></i>
                    <i class="icon iconfont icon-tooltip-outline show-tip-area" data-value="tip"></i>
                  </div>
                </div>
              </div>
              <div class="chart-container">
                <div id="area-chart-instance" class="chart"></div>
              </div>
              <div class="area-comparison">
                <div class="comparison-sort">
                  <div>
                    <i class="icon iconfont icon-heguipaiming"></i><span>分项排名</span>
                    <div class="op-grp">
                      <input type="button" class="btn op-btn-active" data-id="usage" value="用量">
                      <input type="button" class="btn" data-id="cost" value="费用">
                    </div>
                  </div>
                  <div class="area-sort-list"></div>
                </div>
                <div class="comparison-proportion">
                  <div>
                    <i class="icon iconfont icon-tongji"></i><span>分项占比</span>
                    <div class="proportion-grp">
                      <div>
                        <div class="op-btn">操作<i class="icon iconfont icon-xiaotuziCduan_"></i></div>
                        <div class="parameter-overlay hidden close">
                          <div class="triangle-overlay-border"></div>
                          <div class="triangle-overlay"></div>
                          <ul>
                            <li style="cursor:not-allowed"><i class="icon iconfont icon-Group-"></i>导出数据</li>
                            <li style="cursor:not-allowed"><i class="icon iconfont icon-delete1"></i>删除</li>
                            <li style="cursor:not-allowed"><i class="icon iconfont icon-jinzhi"></i>禁止</li>
                          </ul>
                          <div class="manage-box" style="cursor:not-allowed">管理</div>
                        </div>
                      </div>
                      <i class="icon iconfont icon-RMB comparison-rmb"></i>
                      <i class="icon iconfont icon-zuidahua area-pie"></i>
                    </div>
                  </div>
                  <div class="proportion-chart-container">
                    <div class="proportion-chart-instance" id="proportion-chart-instance"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="meter-zone" class="hidden">
            <div class="meter-info-container hidden close">
              <table class="info-table"></table>
            </div>
            <div class="condition">
              <div class="parameter-overlay hidden close">
                <div class="triangle-overlay-border"></div>
                <div class="triangle-overlay"></div>
              </div>
              <div class="parameter-container">
                <div class="parameter">
                  <div class="parameter-left">
                    <div class="param-title">当前表参数</div>
                    <div id="onshowmoreparameter" class="param-choose hidden close">更多参数<i class="icon iconfont icon-xiaotuziCduan_"></i></div>
                  </div>
                  <div class="parameter-right"></div>
                </div>
                <div class="comparsion">
                  <div class="comparsion-left">
                    <div class="meter-title">当前对比表</div>
                    <div class="meter-choose">+增加对比</div>
                  </div>
                  <div class="comparsion-right"></div>
                </div>
              </div>
              <div class="search-container">
                <div class="btn-grp">
                  <div class="btn date-active" data-value="2">日</div>
                  <div class="btn" data-value="3">周</div>
                  <div class="btn" data-value="4">月</div>
                  <div class="btn" data-value="5">年</div>
                </div>
                <div class="date-grp">
                  <input type="hidden" id="datevalue">
                  <div class="date-component icon iconfont icon-rili" id="day">
                    <input type="text" id="daycontainer" class="date-input">
                  </div>
                  <div class="date-component icon iconfont icon-rili hidden" id="month">
                    <input type="text" id="monthcontainer" class="date-input">
                  </div>
                  <div class="date-component icon iconfont icon-rili hidden" id="year">
                    <input type="text" id="yearcontainer" class="date-input">
                  </div>
                </div>
                <div class="operate-grp">
                  <i class="icon iconfont icon-RMB" data-value="rmb"></i>
                  <i class="icon iconfont should-uniq icon-icon- btn-active" id="bar" data-value="bar"></i>
                  <i class="icon iconfont should-uniq icon-line-chart_icon" data-value="line"></i>
                  <i class="icon iconfont should-uniq icon-tubiao-bingtu hidden" id="pie" data-value="pie"></i>
                  <i class="icon iconfont icon-Group-" data-value="download"></i>
                  <i class="icon iconfont icon-tooltip-outline show-tip" data-value="tip"></i>
                </div>
              </div>
            </div>
            <div class="chart-container">
              <div id="chart-instance" class="chart"></div>
            </div>
            <div class="summary-container" id="summary-container"></div>
          </div>
        </div>
        <div class="func-tab hidden">
          <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
              <li class="layui-this" data-id="graph-data">图形数据</li>
              <li data-id="original-data">表底数</li>
              <li data-id="peak-data">峰谷平统计</li>
            </ul>
            <div class="layui-tab-content">
              <div id="graph-data" class="graph-data">
                <div class="exception-manager"><span>异常数据管理<i class="icon iconfont icon-xiaotuziCduan_"></i></span></div>
                <div class="exception-box">
                  <div>

                  </div>
                  <div>
                    <div>
                      <input>
                      <input>
                    </div>
                    <div>
                      <input>
                      <input>
                    </div>
                  </div>
                </div>
                <div class="graph-data-container">
                  <div class="choose-param-list">
                    <div class="list-header"><span>参数</span></div>
                    <div class="list-body" id="list-body"></div>
                  </div>
                  <div class="graph-data-list">
                    <table class="graph-table" id="graph-table"></table>
                  </div>
                </div>
              </div>
              <div id="original-data" class="original-data hidden">
                <table class="original-table">
                  <thead>
                    <th>参数名称</th>
                    <th>单位</th>
                    <th>采集频率</th>
                    <th>读数因子</th>
                    <th>采集时间</th>
                    <th>采集值</th>
                    <th>&nbsp;</th>
                  </thead>
                  <tbody id="original-table-body">
                </table>
              </div>
              <div id="peak-data" class="peak-data">
                <div class="btn-group">
                  <div class="btn date-active" data-value="2">日</div>
                  <div class="btn" data-value="3">周</div>
                  <div class="btn" data-value="4">月</div>
                </div>
                <div class="meter-fgp-date-grp">
                  <input type="hidden" id="meter-fgp-datevalue">
                  <div class="date-component icon iconfont icon-rili" id="meter-fgp-day">
                    <input type="text" id="meter-fgp-daycontainer" class="date-input">
                  </div>
                  <div class="date-component icon iconfont icon-rili hidden" id="meter-fgp-month">
                    <input type="text" id="meter-fgp-monthcontainer" class="date-input">
                  </div>
                </div>
                <div class="fgp-container" id="meter-fgp">
                  <div class="fgp-item">
                    <span class="icon iconfont icon-renwutongjibaobiao">总用量统计图</span>
                    <div class="fgp-item-row">
                      <div class="fgp-usage-chart-instance">
                        <span class="meter-usage-title hidden" id="meter-usage-title">总用量</span>
                        <div class="meter-usage-title-container hidden"></div>
                        <div class="chart-instance" id="meter-fgp-usage-chart"></div>
                      </div>
                      <div class="fgp-item-pie">
                        <div class="fgp-usage-piechart-now-instance" id="meter-fgp-usage-piechart-now"></div>
                        <div class="fgp-usage-piechart-yes-instance" id="meter-fgp-usage-piechart-yes"></div>
                      </div>
                    </div>
                  </div>
                  <div class="fgp-item">
                    <span class="icon iconfont icon-RMB">总费用统计图</span>
                    <div class="fgp-item-row">
                      <div class="fgp-cost-chart-instance">
                        <span class="meter-cost-title hidden" id="meter-cost-title">总费用</span>
                        <div class="meter-cost-title-container hidden"></div>
                        <div class="chart-instance" id="meter-fgp-cost-chart"></div>
                      </div>
                      <div class="fgp-item-pie">
                        <div class="fgp-cost-piechart-now-instance" id="meter-fgp-cost-piechart-now"></div>
                        <div class="fgp-cost-piechart-yes-instance" id="meter-fgp-cost-piechart-yes"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="comparison-tab hidden">
          <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
              <li class="layui-this" data-id="comparison-data" style="color: #000 !important">参数详情对比</li>
            </ul>
            <div class="layui-tab-content">
              <div id="comparison-data" class="comparison-data">
                <table class="comparison-table">
                  <thead>
                    <th>仪表名称</th>
                    <th class="no-show-in">日总量</th>
                    <th class="no-show-in">同期对比</th>
                    <th>同期平均</th>
                    <th>平均</th>
                    <th>最大</th>
                    <th>最小</th>
                    <th>报警上限</th>
                    <th>报警下限</th>
                  </thead>
                  <tbody id="comparison-table-body">
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="area-fgp hidden">
          <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
              <li class="layui-this" data-id="area-fgp-data">峰谷平统计</li>
            </ul>
            <div class="layui-tab-content">
              <div id="area-fgp-data" class="area-fgp-data">
                <div class="btn-group">
                  <div class="btn date-active" data-value="2">日</div>
                  <div class="btn" data-value="3">周</div>
                  <div class="btn" data-value="4">月</div>
                </div>
                <div class="area-fgp-date-grp">
                  <input type="hidden" id="area-fgp-datevalue">
                  <div class="date-component icon iconfont icon-rili" id="area-fgp-day">
                    <input type="text" id="area-fgp-daycontainer" class="date-input">
                  </div>
                  <div class="date-component icon iconfont icon-rili hidden" id="area-fgp-month">
                    <input type="text" id="area-fgp-monthcontainer" class="date-input">
                  </div>
                </div>
                <div class="fgp-container">
                  <div class="fgp-item">
                    <span class="icon iconfont icon-renwutongjibaobiao">总用量统计图</span>
                    <div class="fgp-item-row">
                      <div class="fgp-usage-chart-instance">
                        <span class="usage-title hidden" id="usage-title">总用量</span>
                        <div class="usage-title-container hidden"></div>
                        <div class="chart-instance" id="fgp-usage-chart-instance"></div>
                      </div>
                      <div class="fgp-item-pie">
                        <div class="fgp-usage-piechart-now-instance" id="fgp-usage-piechart-now-instance"></div>
                        <div class="fgp-usage-piechart-yes-instance" id="fgp-usage-piechart-yes-instance"></div>
                      </div>
                    </div>
                  </div>
                  <div class="fgp-item">
                    <span class="icon iconfont icon-RMB">总费用统计图</span>
                    <div class="fgp-item-row">
                      <div class="fgp-cost-chart-instance">
                        <span class="cost-title hidden" id="cost-title">总费用</span>
                        <div class="cost-title-container hidden"></div>
                        <div class="chart-instance" id="fgp-cost-chart-instance"></div>
                      </div>
                      <div class="fgp-item-pie">
                        <div class="fgp-cost-piechart-now-instance" id="fgp-cost-piechart-now-instance"></div>
                        <div class="fgp-cost-piechart-yes-instance" id="fgp-cost-piechart-yes-instance"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-footer hidden"></div>
    </div>
  </div>
  <div id="dialog_content" style="display:none">
    <div class="dialogModal_header modal_header">区域模块管理</div>
    <div class="dialogModal_content">
      <div class="layui-tab layui-tab-brief configuration-container" lay-filter="docDemoTabBrief">
        <div class="header-left"></div>
        <div class="header-right"></div>
        <ul class="layui-tab-title configure-header">
          <li class="configure-func layui-this" data-id="configure-func"><span class="step-num finish">1</span>功能配置</li>
          <li class="binding-data" data-id="binding-data"><span class="step-num">2</span>数据绑定</li>
        </ul>
        <div class="layui-tab-content module-content">
          <div class="page-configure-func">
            <div class="func-list">
              <div data-id="module-data" data-key="_AreaStatistics" data-value="区域统计">区域数据详情
                <div class="opt">
                  <input id="module-data" class="magic-checkbox" type="checkbox">
                  <label class="check-box"></label>
                </div>
              </div>
              <div data-id="peak-summary" data-key="_AreaFgpStatistics" data-value="峰谷平统计">峰谷平统计
                <div class="opt">
                  <input id="peak-summary" class="magic-checkbox" type="checkbox">
                  <label class="check-box"></label>
                </div>
              </div>
            </div>
            <div class="usage-header">
              <div><span>应用于</span></div>
              <div class="usage-select">
                <i class="icon iconfont icon-xiaotuziCduan_ dropdown"></i>
                <select id="select-usage" name="interest" class="beauty-select" lay-filter="aihao">
                  <option value="0">当前区域</option>
                  <option value="1" selected>所有区域</option>
                </select>
              </div>
            </div>
          </div>
          <div class="page-binding-data hidden">
            <div class="binding-data-content">
              <div class="meter-tree"></div>
              <div class="selected-meter-list">
                <div class="top-placeholder"></div>
                <div class="meter-list"></div>
                <div class="bottom-placeholder"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dialogModal_footer">
      <button type="button" class="save-btn" data-dialogModalBut="ok">保存</button>
      <button type="button" class="cancel-btn" data-dialogModalBut="cancel">取消</button>
    </div>
  </div>
  <div id="choose-meter-for-comparison" class="comparison-body" style="display: none;">
    <div class="dialogModal_header modal_header">选择对比仪表</div>
    <div class="dialogModal_content meter-comparison-content">
      <div class="choose-meter-list"></div>
    </div>
    <div class="dialogModal_footer">
      <button type="button" class="save-btn" data-dialogModalBut="ok">确定</button>
      <button type="button" class="cancel-btn" data-dialogModalBut="cancel">取消</button>
    </div>
  </div>
  <div id="original-history-data" style="display: none;">
    <div class="dialogModal_header modal_header" id="history-header">参数历史读数</div>
    <div class="dialogModal_content history-content">
      <div class="history-data-list">
        <table>
          <thead>
            <th>数据采集时间</th>
            <th>数据上传至平台时间</th>
            <th id="lastUnit">读数</th>
          </thead>
          <tbody class="history-data-list-body"></tbody>
        </table>
      </div>
    </div>
  </div>
</body>
<script src="../../dist/lib/jquery.namespace.js" type="text/javascript"></script>
<script src="../../dist/lib/esdpec.common.js" type="text/javascript"></script>
<script src="../../dist/statistics.domain.js" type="text/javascript"></script>
<script type="text/html" id="meter-info-template">
  <tr>
    <td>区域名称：{{data.area}}</td>
    <td>仪表地址：{{data.address}}</td>
    <td>数据类型：{{data.energy_name}}</td>
  </tr>
  <tr>
    <td>仪表型号：{{data.metermodel_name}}</td>
    <td>串口：{{data.port_name}}</td>
    <td>信号连接：{{data.status}}</td>
  </tr>
</script>
<!-- para-active -->
<script type="text/html" id="parameter-list-template">
  {{if parameterList.length > 0 }}{{each parameterList parameter index}}
    <div class="para-item choose-para {{if parameter.isChecked}}para-active{{/if}}" data-id="{{parameter.id}}" 
      data-type="parameter.type" data-unit="{{parameter.unit}}">{{parameter.displayName}}</div>
  {{/each}}{{/if}}
</script>
<script type="text/html" id="contemporary-Comparison-template">
  <div class="summary-header">
      <div class="dosage-value"><span>日用量对比昨日同期</span><span class="icon iconfont {{if data.sum_per>0}}icon-negative{{else}}icon-positive{{/if}}">{{data.sum_per}}%</span></div>
      <div class="average-value"><span>对比同期平均</span><span class="icon iconfont {{if data.avg_per>0}}icon-negative{{else}}icon-positive{{/if}}">{{data.avg_per}}%</span></div>
      <div class="operate-box" id="onshowdata">收起展示<i class="icon iconfont icon-xiaotuziCduan_1"></i></div>
    </div>
    <div class="progress-container">
      <div style="width:{{data.now_sum_width}}">
        <!--remark: Set the maximum to 98%, then divide by the maximum and multiply by 98% -->
        <div class="usage-value-progress">
          <div class="progress-title" id="now_sum_val" style="left: calc(100% - 10px);"><span>今日用量</span><span>{{data.now_sum_val}}{{data.unit}}</span></div>
        </div>
      </div>
      <div style="width: {{data.last_sum_width}}">
        <div class="usage-value-progress same-time-value">
          <div class="progress-title" id="last_sum_val" style="left: calc(100% - 10px);"><span>昨日同期</span><span>{{data.last_sum_val}}{{data.unit}}</span></div>
        </div>
      </div>
      <div style="width: {{data.avg_val_width}}">
        <div class="usage-value-progress average-comparsion-value">
          <div class="progress-title" id="avg_val" style="left: calc(100% - 10px);"><span>同期平均值</span><span>{{data.avg_val}}{{data.unit}}</span></div>
        </div>
      </div>
    </div>
</script>
<script type="text/html" id="list-body-template">
  {{if selectedParameterList.length > 0}}{{each selectedParameterList param index}}
    <div class="choose-param-item {{if param.isDefault}}param-item-active{{/if}}" data-id="{{param.id}}">{{param.name}}</div>
  {{/each}}{{/if}}
</script>
<script type="text/html" id="graph-table-template">
  <thead>
      <th>采集时间</th>
      <th>{{data.type === 0 ? '用量': '读数'}}({{data.unit}})</th>
    </thead>
    <tbody>
      {{if data.graphDataList.length > 0}}{{each data.graphDataList graphData index}}
      <tr>
        <td>{{graphData.date}}</td>
        <td>{{graphData.val}}</td>
      </tr>
      {{/each}}
      {{/if}}
    </tbody>
</script>
<script type="text/html" id="selected-meter-list-template">
  {{if selectedMeterList.length > 0}}{{each selectedMeterList meter index}}
  <div class='select-meter-item'>
    <span>{{meter.text}}</span>
    <input type='button' value='删除' data-id='{{meter.id}}'>
  </div>
  {{/each}}
  {{/if}}
</script>
<script type="text/html" id="comparsion-right-template">
  {{if comparisonMeterList.length > 0}}{{each comparisonMeterList meter index}}
  <div class="choose-meter meter-item" id="com_{{meter.id}}">{{meter.text}}<i class="icon iconfont icon-delete remove-btn" data-id="{{meter.id}}"></i></div>
  {{/each}}{{/if}}
</script>
<script type="text/html" id="original-table-body-template">
  {{if parameterList.length > 0}}{{each parameterList param index}}
  <tr>
    <td>{{param.name}}</td>
    <td>{{param.unit}}</td>
    <td>{{param.interval}}S</td>
    <td>{{param.factor}}</td>
    <td>{{param.lastDate}}</td>
    <td>{{param.lastVal}}</td>
    <td data-id='{{param.mfid}}'>详情</td>
  </tr>
  {{/each}}{{/if}}
</script>
<script type="text/html" id="history-data-list-body-template">
  {{if historyList.length > 0}}{{each historyList data index}}
  <tr>
    <td>{{data.Mt}}</td>
    <td>{{data.ST}}</td>
    <td>{{data.Mv}}</td>
  </tr>
  {{/each}}{{/if}}
</script>
<script type="text/html" id="comparison-table-body-template">
  {{if comparisonList.length > 0}}{{each comparisonList data index}}
  <tr>
    <td>{{data.meter_name}}</td>
    {{if type == 0}}<td>{{data.sum_val}}</td>
    <td class="{{data.sum_per>0?'positive-value':'negative-value'}}">{{data.sum_per>0?'+':''}}{{data.sum_per}}%</td>{{/if}}
    <td>{{data.all_avg_val}}</td>
    <td>{{data.avg_val}}</td>
    <td>{{data.max_val}}</td>
    <td>{{data.min_val}}</td>
    <td>{{data.upper_limit}}</td>
    <td>{{data.lower_limit}}</td>
  </tr>
  {{/each}}{{/if}}
</script>
<script type="text/html" id="area-sort-list-template">
  {{if areaMeterList.length > 0}}{{each areaMeterList areaMeter index}}
  <div class="area-sort-item">
    <div class="area-sort-no" style="color:{{areaMeter.color}};border-color:{{areaMeter.color}}">{{index + 1}}</div>
    <div class="area-sort-content">
      <div class="meter-name">{{areaMeter.name}}</div>
      <div class="meter-value">{{areaMeter.value}}{{areaMeter.unit}}</div>
      <div class="area-progress">
        <div class="area-progress-container">
          <div class="area-progress-value" style="background-color:{{areaMeter.color}}; width:{{areaMeter.percent}}%"></div>
        </div>
        <span class="meter-percent">{{areaMeter.percent}}%</span>
      </div>
    </div>
  </div>
  {{/each}}{{/if}}
</script>

</html>